@{
    ViewData["MostrarHeader"] = true;
}
@section FooterContent {
    <partial name="_FooterPartial" /> 
}

<h1>Tenés @(ViewBag.TiempoLibre) horas libres</h1>

<section>

    <h2>Tiempo Libre</h2>

    @foreach(Tarea t in ViewBag.DiaTiempoLibre)
    {
        <div>
            <p> </p>            

        </div>
    }

    <h5>Total: @ViewBag.TiempoLibreTotal</h5>
</section>


<section>

    <h2>Horas Usadas por Tareas</h2>


    @foreach(Tarea t in ViewBag.ListaTareas)
    {
        <div>
            <p> @ViewBag.ListaTareas.Nombre  Duracion: @ViewBag.ListaTareas.Duracion </p>

        </div>
    }

    <h5>Total: @(ViewBag.TiempoTareas)</h5>
</section>

